html{
    font-size: 62.5%;
    @media (min-width: 600px){
        font-size: 70%;
    }
}

body{
    font-family: $ff-body;
    font-weight: 400;
    color: $clr-primary-dark;
    overflow-x: hidden;

    @include respond(phone){
        margin-inline: auto;
    }
}


// html {
//   font-size: 62.5%; }
//   @media (max-width: 75em) {
//     html {
//       font-size: 56.25%; } }
//   @media (max-width: 56.25em) {
//     html {
//       font-size: 50%; } }
//   @media (min-width: 112.5em) {
//     html {
//       font-size: 80%; } 
//     }
