.navigation{
    font-family: $ff-nav;
    font-size: max(1.2rem);
    transition: all 250ms ease-in-out;

    &__link{
        text-decoration: none;
        color: $clr-primary-dark;
    }
}

.header{
    &__text{
        &--main{
            font-family: $ff-heading;
            font-size: 2.3rem;
            font-weight: $fw-bold;
            line-height: 1.4;

            @include respond(phone) {
                font-size: 2.6rem;
            }
        }

        &--sub{
            font-family: $ff-body;
            font-size: 1.4rem;
        }
    }
}

.footer{
    font-size: 1.5rem;
    color: $clr-neutral-100;
    
    &__link{
        font-family: $ff-cta;
        text-decoration: none;
        color: $clr-neutral-100;
    }
}

.feature{

    &__header{
        font-family: $ff-heading;
        text-align: center;
        font-weight: bold;

        @include respond(phone){
            text-align: left;
        }
    }

    &__text-box{
        font-size: 1.3rem;
        color: rgba($clr-primary-dark, 0.6);
    }
}