// Colors 
$clr-primary-light: hsl(238, 22%, 44%);
$clr-primary-dark : hsl(243, 87%, 12%);
$clr-accent-blue: hsl(224, 93%, 58%);
$clr-accent-blue-hover: hsl(224, 91%, 70%);

$clr-accent-cyan: hsl(170, 45%, 43%);
$clr-accent-cyan-hover: hsl(170, 45%, 70%);

$clr-neutral-100: hsl(240, 75%, 98%);
$clr-neutral-300: hsl(0, 0%, 75%);

$clr-white: hsl(0, 0%,100%);
$clr-error: hsl(0, 100%, 75%);


//Fonts
$ff-heading: 'Raleway', sans-serif;
$ff-cta: 'Raleway', sans-serif;
$ff-nav : 'Raleway', sans-serif;
$ff-body: 'Open Sans', sans-serif;

$fw-regular: 400;
$fw-bold: 700;