/*
0 - 600px is where my normal styles apply
600px - 900px: 
900px - 1200px:
1200px -1800px : 
1800px + : Big destop

$breakpoint arguement choices
-phone
-tab-port
-tab-land
-big-desktop

ORDER: Base + Typography > General Layout + Grid > Page layout > componets
*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box; }

/*
  2. Remove default margin
*/
* {
  margin: 0; }

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%; }

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; }

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; }

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit; }

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; }

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate; }

html {
  font-size: 62.5%; }
  @media (min-width: 600px) {
    html {
      font-size: 70%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #070439;
  overflow-x: hidden; }
  @media (min-width: 37.5em) {
    body {
      margin-inline: auto; } }

.navigation {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  transition: all 250ms ease-in-out; }
  .navigation__link {
    text-decoration: none;
    color: #070439; }

.header__text--main {
  font-family: "Raleway", sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.4; }
  @media (min-width: 56.25em) {
    .header__text--main {
      font-size: 2.65rem; } }
  @media (min-width: 56.25em) {
    .header__text--main {
      font-size: 3rem; } }

.header__text--sub {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem; }

.feature__header {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  transition: all 250ms ease-in-out; }
  @media (min-width: 37.5em) {
    .feature__header {
      text-align: left;
      font-size: 1.8rem; } }
  @media (min-width: 56.25em) {
    .feature__header {
      text-align: left;
      font-size: 2.3rem; } }
  @media (min-width: 75em) {
    .feature__header {
      font-size: 3rem; } }

.feature__text-box {
  font-size: 1.3rem;
  color: rgba(7, 4, 57, 0.6); }

.sign-up__header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.7rem; }
  @media (min-width: 37.5em) {
    .sign-up__header {
      font-size: 2rem; } }

.sign-up__text-box {
  font-family: "Open Sans", sans-serif;
  font-size: 1.35rem; }

.footer {
  font-size: 1.5rem;
  color: #f6f6fe; }
  .footer__link {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #f6f6fe; }
    .footer__link:hover {
      color: #585989; }

.bg-neutral-100 {
  background: #f6f6fe; }

.bg-primary-light {
  background: #585989; }

.bg-primary-dark {
  background: #070439; }

.btn {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 1rem;
  transition: all 150ms ease-in-out;
  text-align: center;
  border: none;
  outline: none; }
  .btn--primary {
    background: #3065f8;
    font-weight: 700;
    color: #f6f6fe;
    border-radius: 3px; }
    .btn--primary-cta {
      font-size: 1rem;
      font-weight: 400;
      padding: .8rem; }
    .btn--primary:hover {
      background: #6d92f8; }
  .btn--transparent {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 400;
    width: max-content;
    margin-inline: auto;
    padding: .5rem;
    background: transparent;
    color: #3c9f8f;
    border-bottom: solid 1px #3c9f8f; }
    @media (min-width: 37.5em) {
      .btn--transparent {
        text-align: left;
        margin-inline: 0; } }
    .btn--transparent:hover {
      background: transparent;
      color: #90d5c9;
      border-bottom: solid 1px #90d5c9; }

.testimonial {
  display: grid;
  gap: 1rem;
  background: white;
  padding: 2.5rem;
  margin-inline: auto;
  max-width: 27.265rem;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(191, 191, 191, 0.2); }
  @media (min-width: 56.25em) {
    .testimonial {
      margin-inline: 0; } }
  .testimonial__text {
    color: rgba(7, 4, 57, 0.6);
    line-height: 1.7; }
  .testimonial__profilebox {
    display: flex;
    gap: 1rem;
    align-items: center; }
  .testimonial__avatar {
    width: 2.5rem;
    border-radius: 50%; }
  .testimonial__author--main {
    font-weight: 700; }
  .testimonial__author--sub {
    font-size: .8rem; }

.footer {
  background: #070439;
  padding: 5rem 5rem 2rem;
  display: grid;
  gap: 3.5rem;
  max-width: 122rem;
  margin-inline: auto; }
  @media (min-width: 37.5em) {
    .footer {
      gap: .5rem;
      grid-template-columns: repeat(3, 1fr);
      font-size: 1rem;
      align-items: start; } }
  @media (min-width: 56.25em) {
    .footer {
      grid-template-columns: repeat(4, 1fr);
      align-items: start; } }
  @media (min-width: 75em) {
    .footer {
      padding-bottom: 5rem; } }
  .footer__logo {
    filter: brightness(0) invert(1); }
    @media (min-width: 37.5em) {
      .footer__logo {
        width: 11rem;
        margin-bottom: 1.5rem; } }
  .footer__contacts {
    grid-column-start: 1; }
  .footer__contacts p {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 1.5rem; }
    @media (min-width: 37.5em) {
      .footer__contacts p {
        font-size: .9rem;
        gap: .8rem; } }
    @media (min-width: 56.25em) {
      .footer__contacts p {
        font-size: .9rem;
        gap: 1rem; } }
  .footer__list {
    display: grid;
    gap: 1.5rem;
    text-decoration: none; }
    @media (min-width: 56.25em) {
      .footer__list {
        gap: .8rem; } }

.socials {
  display: flex;
  align-items: center;
  margin-inline: auto; }
  @media (min-width: 37.5em) {
    .socials {
      grid-column: 1 / 4; } }
  @media (min-width: 56.25em) {
    .socials {
      grid-column: 4 / 4; } }
  .socials__icon {
    cursor: pointer;
    text-align: center;
    width: 37px;
    transform: scale(70%);
    padding: 1rem;
    border: solid 1px #f6f6fe;
    border-radius: 50%; }
    .socials__icon:hover {
      color: #585989;
      border: solid 1px #585989; }

.header {
  display: grid;
  gap: 3.5rem;
  text-align: center;
  padding: 8rem 0;
  width: 80%;
  margin-inline: auto;
  max-width: 120rem;
  margin-inline: auto; }
  @media (min-width: 37.5em) {
    .header {
      width: 90%;
      max-width: 62.5rem; } }
  @media (min-width: 56.25em) {
    .header {
      width: 90%;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      max-width: 102.67rem; } }
  @media (min-width: 75em) {
    .header {
      width: 95%;
      max-width: 111.60rem; } }
  @media (min-width: 56.25em) {
    .header__img {
      grid-column-start: 2;
      grid-row-start: 1; } }
  @media (min-width: 37.5em) {
    .header__textbox {
      text-align: left;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 4rem; } }
  @media (min-width: 56.25em) {
    .header__textbox {
      grid-template-columns: repeat(1, 1fr);
      gap: 0; } }
  @media (min-width: 75em) {
    .header__textbox {
      max-width: 45rem; } }
  .header__text {
    display: grid;
    gap: 2.3rem; }
  .header__form {
    display: grid;
    gap: 1.5rem;
    margin-top: 1rem; }
    @media (min-width: 56.25em) {
      .header__form {
        grid-template-columns: repeat(2, 60% 40%);
        gap: 1.2rem;
        align-items: center; } }
    .header__form-box {
      outline: none;
      padding: 1rem; }
      @media (min-width: 56.25em) {
        .header__form-box {
          grid-column-start: 1; } }
      .header__form-box:focus:invalid {
        border: solid 1px #ff8080; }
      .header__form-box:focus:invalid + .header__form-box__error-text {
        display: block; }
      .header__form-box__error-text {
        margin-top: -1.6rem;
        color: #ff8080;
        display: none; }
    @media (min-width: 56.25em) {
      .header__form__button {
        max-width: 11em; } }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  padding-top: 2rem;
  max-width: 1400px;
  margin-inline: auto; }
  @media (min-width: 37.5em) {
    .navigation {
      padding-inline: 3.5rem;
      padding-top: 2.5rem; } }
  @media (min-width: 56.25em) {
    .navigation {
      padding-inline: 6rem;
      padding-top: 4rem; } }
  .navigation__logo {
    width: 8rem; }
    @media (min-width: 56.25em) {
      .navigation__logo {
        width: 10rem; } }
  .navigation__list {
    display: flex;
    gap: 2rem;
    list-style: none; }

.bg-pattern {
  width: 100vw; }

.feature {
  margin-inline: auto;
  background: #f6f6fe;
  padding: 4rem 2.5rem 8rem; }
  @media (min-width: 37.5em) {
    .feature {
      max-width: 68rem; } }
  @media (min-width: 56.25em) {
    .feature {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      max-width: 102.67rem; } }
  @media (min-width: 75em) {
    .feature {
      max-width: 117rem; } }
  .feature__img {
    padding-inline: 1rem;
    margin-bottom: 8rem; }
    @media (min-width: 56.25em) {
      .feature__img {
        margin-bottom: 0rem; } }
  @media (min-width: 37.5em) {
    .feature__contentbox {
      text-align: left;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 3rem; } }
  @media (min-width: 56.25em) {
    .feature__contentbox {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
      grid-row-start: 1; } }
  .feature__content {
    display: grid;
    gap: 2rem;
    margin-bottom: 4rem; }
  .feature__text-box {
    display: grid;
    gap: 1.5rem;
    max-width: 40rem;
    margin-inline: auto; }
    @media (min-width: 56.25em) {
      .feature__text-box {
        margin-inline: 0; } }
    @media (min-width: 75em) {
      .feature__text-box {
        gap: .7rem; } }

.sign-up {
  text-align: center;
  padding: 5rem;
  background: #585989;
  color: #f6f6fe;
  display: grid;
  gap: 2rem;
  max-width: 122rem;
  margin-inline: auto; }
  @media (min-width: 37.5em) {
    .sign-up {
      text-align: left;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 4rem; } }
  .sign-up__text-box {
    display: grid;
    gap: 1.5rem;
    max-width: 41.5rem; }
    @media (min-width: 75em) {
      .sign-up__text-box {
        gap: .7rem; } }
  .sign-up__form {
    display: grid;
    gap: .8rem;
    width: 90%;
    margin-inline: auto; }
    .sign-up__form-box {
      outline: none;
      border: none;
      padding: .8rem;
      border-radius: 3px;
      color: rgba(7, 4, 57, 0.5);
      max-width: 36rem; }
      .sign-up__form-box:focus:invalid {
        border: solid 1px #ff8080; }
      .sign-up__form-box:focus:invalid + .sign-up__form-box__error-text {
        display: block; }
      .sign-up__form-box__error-text {
        margin-top: -1rem;
        color: #ff8080;
        display: none; }
  @media (min-width: 37.5em) {
    .sign-up__button {
      max-width: 13em; } }
