.footer{
    background: $clr-primary-dark;
    padding: 5rem 5rem 2rem;
    display: grid;
    gap: 3.5rem;
    max-width: 122rem;
    margin-inline: auto;

    @include respond(phone){
        gap: .5rem;
        grid-template-columns: repeat(3, 1fr);
        font-size: 1rem;
        align-items: start;
        }

    @include respond(tab-port){
        grid-template-columns: repeat(4, 1fr);
        align-items: start;
        }

    @include respond(tab-land){
        padding-bottom: 5rem;
    }

    &__logo{
        filter: brightness(0) invert(1);

        @include respond(phone){
            width: 11rem;
            margin-bottom: 1.5rem;
        }
    }

    &__contacts{
        grid-column-start: 1;
    }

    &__contacts p{
        display: flex;
        align-items: center;
        gap: 2.5rem;
        margin-bottom: 1.5rem;

        @include respond(phone){
            font-size: .9rem;
            gap: .8rem;
        }

        @include respond(tab-port){
            font-size: .9rem;
            gap: 1rem;
        }
    }

    &__list{
        display: grid;
        gap: 1.5rem;
        text-decoration: none;

        @include respond(tab-port){
            gap: .8rem;
        }
    }
}

.socials{
    display: flex;
    align-items: center;
    margin-inline: auto;

    @include respond(phone){
        grid-column: 1 / 4;
    }

    @include respond(tab-port){
        grid-column: 4 / 4;
    }

    &__icon{
        cursor: pointer;
        text-align: center;
        width: 37px;
        transform: scale(70%);
        padding: 1rem;
        border: solid 1px $clr-neutral-100;
        border-radius: 50%;

        &:hover{
            color: $clr-primary-light;
            border: solid 1px $clr-primary-light;
        }
    }
}