.bg-pattern{
    width: 100vw;
}

.feature{
    background: $clr-neutral-100;
    padding: 4rem 2.5rem 8rem;

    &__img{
        padding-inline: 1rem;
        margin-bottom: 8rem;
    }

    &__contentbox{
        @include respond(phone){
            text-align: left;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 3rem;
        }
    }

    &__content{
        display: grid;
        gap: 2rem;
        margin-bottom: 4rem;
    }

    &__text-box{
        display: grid;
        gap: 1.5rem;
    }
}

.sign-up{
    text-align: center;
    padding: 5rem;
    background: $clr-primary-light;
    color: $clr-neutral-100;
    display: grid;
    gap: 2rem;

    @include respond(phone){
        text-align: left;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 4rem;
    }

    &__text-box{
        display: grid;
        gap: 1.5rem;
    }

    &__form{
        display: grid;
        gap: .8rem;
        width: 90%;
        margin-inline: auto ;

        &-box{
            outline: none;
            border: none;
            padding: .8rem;
            color: rgba($clr-primary-dark, 0.5);
        }
    }
}